h1{
    text-align: center;
    background-color: #800080;
    border: 3px solid #000000;
 }
 .star-1{
    display: inline;
    margin-right: 25px;
    
 }
.star-2{
   text-transform: capitalize;
}
.head{
    text-align: center;
    background-color: #0000ff;
    border: 3px solid #000000;
}
.star-3{
   text-transform: capitalize;
}
